/*Contact sectiom*/

    
.content-header{
    font-family: 'Oleo Script', cursive;
    color:rgb(0, 188, 212);
    font-size: 45px;
  }
  
  .section-content{
    text-align: center; 
  
  }

  .mat-button {
      color: #ffff;
      background: red;
  }

  h2 {
      color: #ffff;
  }

  .contact-section{
    padding-top: 40px;
  }
  .contact-section .col-md-6{
    width: 50%;
  }
  
  .form-line{
    border-right: 1px solid #B29999;
  }
  
  .form-group{
    margin-top: 10px;
  }
  label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
  }
  .form-control{
    font-size: 1.3em;
    color: #080808;
    height: 50px;
  }
  textarea.form-control {
      height: 135px;
     /* margin-top: px;*/
  }
  
  .submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
  
  }
  
  