<div class="col-md-10 col-md-offset-1">
    <h2>How it works</h2>
    <mat-divider></mat-divider>
    <mat-card>
<section class="section how-it-works" id="how-it-works">
  <div class="container">
    <div class="row text-center">
      <div class="how-it-works-heading">
        <h2 class="section-title">How It Work's</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 board">
        <div class="board-inner">
          <ul class="nav nav-tabs" id="myTab">
            <div class="liner"></div>
            <li class="active">
              <a href="#home" aria-controls="home" role="tab" data-toggle="tab" title="User Experience">
                <span class="round-tabs one">
                  1
                </span>
              </a>
            </li>

            <li>
              <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" title="Sketch">
                <span class="round-tabs two">

                  2
                </span>
              </a>
            </li>
            <li>
              <a href="#prototyping" aria-controls="prototyping" role="tab" data-toggle="tab" title="Prototyping">
                <span class="round-tabs three">
                  3
                </span>
              </a>
            </li>

            <li>
              <a href="#uidesign" aria-controls="uidesign" role="tab" data-toggle="tab" title="UI Design">
                <span class="round-tabs four">
                  4
                </span>
              </a>
            </li>

            <li>
              <a href="#doner" aria-controls="doner" role="tab" data-toggle="tab" title="Development">
                <span class="round-tabs five">
                  5
                </span>
              </a>
            </li>

          </ul>
        </div>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="home">

            <h3 class="head text-center">Do you like our package? </h3>
            <p class="narrow text-center">
              More than 4000 channels and movies for only $125/year. You like it? If Yes, go to the next step.
            </p>

            <p class="text-center">
              <a routerLink="/channels" class="btn btn-success btn-outline-rounded green"> See Channels
                <span class="glyphicon glyphicon-send"></span>
              </a>
            </p>
          </div>
          <div class="tab-pane fade" id="profile">
            <h3 class="head text-center">What is your device</h3>
            <p class="narrow text-center">
              To use IPTV, You need to have one of these devices.
            </p>

            <p class="text-center">
              <!--<a href="" class="btn btn-success btn-outline-rounded green"> See devices 
                      <span  class="glyphicon glyphicon-send"></span></a>
                          <!-- Trigger the modal with a button -->
              <button type="button" (click)="onSeeDevices()" class="btn btn-success btn-outline-rounded green">See devices
                <span class="glyphicon glyphicon-send"></span>
              </button>
            </p>

          </div>
          <div class="tab-pane fade" id="prototyping">
            <h3 class="head text-center">Contuct-us for a 48h free test</h3>
            <p class="narrow text-center">
              With our free 48h test you can take your time to test our package, and if you like it go to the next step
            </p>

            <p class="text-center">
              <button  class="btn btn-success btn-outline-rounded green"> How to test
                <span class="glyphicon glyphicon-send"></span>
              </button>
            </p>
          </div>
          <div class="tab-pane fade" id="uidesign">
            <h3 class="head text-center">Do you like it?</h3>
            <p class="narrow text-center">
              If you like our package all you need to do is to contact us again and ask us for a package $125/year, then you can make a
              payment via paypal.
            </p>

            <p class="text-center">
              <button class="btn btn-success btn-outline-rounded green"> How to pay
                <span class="glyphicon glyphicon-send"></span>
              </button>
            </p>
          </div>
          <div class="tab-pane fade" id="doner">
            <div class="text-center">
              <i class="img-intro icon-checkmark-circle"></i>
            </div>
            <h3 class="head text-center">Enjoy it</h3>
            <p class="narrow text-center">
              We will assist you to set up your device to test the package by phone or email.
            </p>
            <p class="text-center">
              <button class="btn btn-success btn-outline-rounded green"> Thank you
                <span class="glyphicon glyphicon-send"></span>
              </button>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
</section>
</mat-card>
</div>