<mat-toolbar class="header">
  <mat-toolbar-row>
    <img src="../../../assets/images/1.png">
    <!--<a [routerLink]="" (click)="toggleMenu()"><mat-icon 
              style="font-weight: bold;font-size:30px;-webkit-text-fill-color:white">list</mat-icon></a>-->
    <span routerLink="/" class="title">Best IPTV</span>
    <span routerLink="/" class="menu"><mat-icon class="icon"></mat-icon>Home</span>
    <span routerLink="/channels" class="menu"><mat-icon class="icon"></mat-icon>Channels</span>
    <span routerLink="/how-it-works" class="menu"><mat-icon class="icon"></mat-icon>How it works</span>
    <span routerLink="/contact-us" class="menu"><mat-icon class="icon"></mat-icon>Contact us</span>
  </mat-toolbar-row>
</mat-toolbar>
